div{
	width:250px;
	height:250px;
	border:3px solid blue;
	padding:20px;
}
/*qaty ku kemi me shkru ne HTML*/
#static{
	position:static; 
}
/*krahasohet me vetem fillestare*/
#relative{
	position:relative;
}
/* krahasohet me muret e web */
#fixed{
	margin:0px;
	position:fixed;
	right:200px;
   right:200px;
   top:100px;
   }

#sticky{
	position:sticky;
	top:0px;
}


#parent{
	position:relative;
}
#absolute{
	position:absolute;
	top:70px;
right:80px;
width:100px;
height:100px;
}
